body {
    font-family: "Arial", sans-serif;
    background: linear-gradient(to top, rgb(145, 7, 138), rgb(68, 4, 68), rgb(145, 7, 138));
    min-height: 100vh; 
    margin: 0;
    padding: 0;
}


.cabecalho{
    background: linear-gradient(to right, rgb(0, 0, 0), purple);
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 0px;
}

.container {
    background: transparent; 
    margin: 0 auto;
    backdrop-filter: blur(50);
    max-width: 1200px;
    padding: 0 20px;
}

.container .produtos {
    color: rgb(0, 0, 0);
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 32px;
    line-height: 80px;
    letter-spacing: 1px;
    text-align: center; 
}

.container .filtros{
    color: purple;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.container .categorias-cartas, .container .preco-cartas{
    display: flex;
    flex-direction: column;
    width: 40%;

}

.container  label{
    letter-spacing: 1px;
    font-weight:500;
    color: rgb(0, 0, 0);
}

.container .categorias-cartas select, .container .preco-cartas input{
    padding: 16px 13px;
    border-radius: 15px;
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(190, 51, 190);
    color: black;
    height: 52px;
}

input::placeholder {
    color: black;
}

 .container  select:focus,
  .container  input:focus,
   .container  select:focus-visible, .container  input:focus-visible {
     
    outline: none;
 }
 
 .container select.categoria{
    appearance: none;
    background: url(../imagens/seta-para-baixo.png) 97% center no-repeat;
 }

.container .filtros .btn-filtrar{
    border: none;
    background-color: rgb(190, 51, 190);
    color: black;
    padding:16px 32px;
    font-weight:  500;
    align-self: end;
    width: 177px;
    height: 52px;
    cursor: pointer;
    letter-spacing: 1px;
    transition: 0.3s;
    border-radius: 12px;
    border: 3px solid rgb(0, 0, 0);
}

.container .filtros .btn-filtrar:hover{
    background-color: blueviolet;
}

.container .categoria:hover{
    background-color: blueviolet;
    transition: 0.5s;
}

.container .cartas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-top: 30px;
    justify-content: center;
}

.container .cartas .carta{
    max-width: 365px;
    color: black;
    border-radius: 20px;
    box-shadow:0 6px 12px rgba(0,0,0,0.8);
}

.container .carta img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: block;
    padding: 10px;
    background-color: transparent;
}


.container .carta .informacoes {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.container .carta .informacoes .nome-personagem{
    font-size: 24px;
    font-weight: 700;
    color: black;
}

.container .carta .informacoes .categoria{
    color: black;
    font-weight: 700;
}

.container .carta .informacoes .preco{
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 700;
    color: black;
}

.container .carta .informacoes .btn-comprar{
    color: black;
    background-color: rgb(190, 51, 190);
    padding: 16px;
    border-radius: 14px;
    letter-spacing: 1px;
    transition: 0.3s;
    text-align: center;
    text-decoration: none;
}

.container .carta .informacoes .btn-comprar:hover{
background-color: blueviolet;
}

.rodape{
    display: flex;
    background-color: rgb(82, 6, 78);
    justify-content: center;
    padding: 20px;
}

.esconder{
    display: none;
}

.mostrar{
    display: block;
}